$background-color-primary: #1A1A1A;
$grad-bgrcolor-primary: linear-gradient(90deg, #FF9D5B, #6C4C74);
$grad-bgrcolor-secondary: linear-gradient(#FF9D5B, #382F7C);

$font-color-primary: #EBEBEB;
$font-color-secondary: #ACACAC;
$font-color-tertiary: #1A1A1A;
$font-color-quartiary: #C4C4C4;
$font-color-dark: #1A1A1A;  
$font-color-enhance: #E38E60;  