.button{
    padding: 10px 16px;
    border: none;
    background: $grad-bgrcolor-primary;
    color: $font-color-tertiary;
    font-weight: 700;
    font-size: 15px;

    cursor: pointer;

    transition: opacity 0.1s linear;

    &:hover{
        opacity: 0.5;
    }

    &:active{
        opacity: 0.3;
    }

    &:focus{
        outline: none;
    }

    &--secondary{
        padding: 8px 14px;
        border: 2px solid #717171;
        background: $background-color-primary;
        color: $font-color-quartiary;
        font-weight: 400;
    }

    &--tertiary{
        background: $background-color-primary;
        color: $font-color-quartiary;
        font-weight: 400;
    }
}