.contact{
    padding: 80px 0;
    background: $background-color-secondary;
    
    &__content{
        @media screen and (min-width: 1100px) {
            display: flex;
        }
    }

    &__text{
        text-align: center;
        margin-bottom: 50px;

        @media screen and (min-width: 1100px) {
            width: 50%;
            text-align: unset;
        }
    }

    &__title{
        font-size: 30px;
        font-weight: 600;

        @media screen and(min-width: 700px) {
            font-size: 38px;
            margin-bottom: 6px;
        }

        @media screen and (min-width: 1100px) {
            font-size: 42px;
        }
    }

    &__subtitle{
        font-size: 15px;
        color: $font-color-secondary;

        @media screen and (min-width: 700px) {
            font-size: 18px;
        }

        @media screen and (min-width: 1100px) {
            font-size: 18px;
        }
    }

    &__contact{
        padding: 40px 20px;
        background: $background-color-primary;

        @media screen and (min-width: 1100px) {
            width: 50%;
            padding: 65px 56px;
        }
    }

    &__labelDiv{
        display: block;
        margin-bottom: 20px;

        @media screen and (min-width: 1100px) {
            margin-bottom: 50px;
        }

        textarea{
            max-height: 100px;
            overflow-y: scroll;
        }

        small{
            color: #EB5F5F;
            font-size: 12px;
            font-style: italic;
        }
    }

    &__label{
        font-size: 15px; 
        display: block;
        margin-bottom: 4px;

        color: $font-color-secondary;
    }

    &__input{
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #707070;

        padding: 9px 12px;
        

        &:focus{
            border-color: $font-color-enhance;
            outline: none;
        }

        &--error{
            color: #EB5F5F;
            border-color: #EB5F5F;
        }

        &--success{
            color: rgb(7, 202, 95);
            border-color: rgb(7, 202, 95);
        }
    }
}