$line-color: rgba(255,255,255,0.03);
$one-half-0: calc(100%/2);
$one-half-1: calc((100%/2) + 2px);
$one-half-2: calc((100%/2) + 4px);



$one-sixth-0: calc(100%/6);
$one-sixth-1: calc((100%/6) - 1px);
$one-sixth-2: calc((100%/6) + 1px);

.l-page{

    background-image: 
        linear-gradient(
            90deg,
            transparent 0px, 
            transparent $one-half-0,
            $line-color $one-half-1,
            transparent $one-half-2
        )
    ;
    height: 100%;

    border-right: 2px solid $line-color;
    border-left: 2px solid $line-color;

    margin: 0 39px;

    @media screen and (min-width: 1000px){
        background: 
        repeating-linear-gradient(
            90deg,
            transparent 1px, 
            transparent $one-sixth-1,
            $line-color $one-sixth-1,
            $line-color $one-sixth-2
        )
    ;
    margin: 0 auto;
    max-width: 1368px;
    width: 100%;
    }

    &--noline{
        background: transparent;
        border: none;
        padding: 0 30px;

        @media screen and (min-width: 1100px) {
            padding: 0 calc((1/6)*100%);
        }
    }

    &--nopadding{
        padding: 0;
    }
}