.portfolio{
    padding: 96px 0 142px 0;

    @media screen and (min-width: 760px) {
        padding-top: 160px;
    }

    &__title{
        font-size: 30px;
        font-weight: 600;
        text-align: center;

        @media screen and(min-width: 700px) {
            font-size: 38px;
            margin-bottom: 6px;
        }

        @media screen and (min-width: 1100px) {
            text-align: unset;
            font-size: 48px;
            line-height: 52px;
            margin-bottom: 10px;
        }
    }

    &__subtitle{
        font-size: 15px;
        line-height: 25px;
        color: $font-color-secondary;
        margin-bottom: 62px;

        text-align: center;

        @media screen and (min-width: 700px) {
            font-size: 18px;
            margin-bottom: 128px;
        }

        @media screen and (min-width: 1100px) {
            text-align: unset;
        }
    }

    &__img{
        position: relative;
        width: 100%;
        margin-bottom: 10px;

        img{
            width: 100%;
        }

        &::before{
            content:"01";
            font-size: 100px;
            font-weight: 600;
            line-height: 100px;
            opacity: 5%;

            position: absolute;
            top: 0;
            left:0;
            transform: translateY(-30%);
        }
    }

    &__item{

        @media screen and (min-width: 700px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 135px;
        }
    }

    &__textcontent{

        @media screen and (min-width: 700px){
            margin: 10px 0 auto 42px;
        }

        @media screen and (min-width: 1440px) {
            margin: 30px 0 auto 45px;
            padding-right: 25%;
        }
    }

    &__itemtitle{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;

        @media screen and(min-width: 700px) {
            font-size: 21px;
            line-height: 25px;

            margin-bottom: 19px;
        }

        @media screen and(min-width: 1100px) {
            font-size: 28px;
            line-height: 28px;

            margin-bottom: 21px;
        }
    }

    &__description{
        display: none;

        @media screen and (min-width: 1100px) {
            display: unset;
            font-size: 18px;
            line-height: 27px;
            color: $font-color-secondary;
        }
    }

    &__tags{
        margin: 0 0 20px 0;

        @media screen and(min-width: 700px) {
            margin: unset;
            margin-bottom: 22px;
        }

        @media screen and(min-width: 1100px) {
            margin-top: 40px;
        }
        
    }

    &__tag{
        font-size: 15px;
        color: #5b5b5b;
        font-weight: 700;
        font-style: italic;

        margin-right: 5px;

        @media screen and (min-width: 1100px) {
            font-size: 18px;
        }
    }

    &__ctas{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 135px;

        &--last{
            margin-bottom: 0;
        }

        @media screen and (min-width: 700px) {
            margin: unset;
            justify-content: unset;
        }
    }

    &__button{
        width: 50%;
        @media screen and (min-width: 700px) {
            width: unset;
            margin-right: 22px;
            font-size: 18px;
        }
        
    }
}